<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AWS Sinatra</title>
</head>

<body>
  <h1>Sinatra AWS</h1>
</body>

</html>